# Ignore node_modules from all packages
**/node_modules

# Ignore server and admin build outputs
packages/server/build
packages/admin/.next

# Ignore server-specific files
packages/server/minio_data

# Ignore IDE and OS files
.vscode
*.log
.DS_Store