# Ignore parent monorepo folders to prevent context confusion
../packages
../node_modules
../.git
../Dockerfile
../README.md
../package.json
../package-lock.json

# Standard Expo ignores
node_modules/
.expo/
dist/
web-build/
.env
.env.*
*.pem
